<button (click)="sayHi()">Say hi shy computer...</button>
<h1>{{ message }}</h1>
<button (click)="sayHiWithCreds()">Say hi</button>
<button (click)="registerUser()">Register!</button>
<button (click)="changePassword()">Change Password!</button>
<form [formGroup]="loginForm">
    <input type="text" name="username" formControlName="username">
    <input type="password" name="password" formControlName="password">
    <input type="password" name="new_password" formControlName="new_password">
</form>

<button (click)="addNewStudent()">Add student</button>
<form [formGroup]="studentForm">
    <input type="text" name="nickname" formControlName="nickname">
    <input type="number" name="year" formControlName="year">
    <input type="text" name="term" formControlName="term">    
    <input type="text" name="title" formControlName="title">
</form>

