<mat-expansion-panel class="loginPanel"> <!--Login--> 
    <mat-expansion-panel-header>
        <mat-panel-title>Login</mat-panel-title>
    </mat-expansion-panel-header>
    
    <h1>{{ message }}</h1>

    <app-profile *ngIf="this.isLoggedIn()"></app-profile>
   
    <mat-action-row>
        <button mat-raised-button color="primary" (click)="logIn()" >Login auth0</button>
        <button mat-raised-button color="primary" (click)="logout()">Logout!</button>
    </mat-action-row>
</mat-expansion-panel>