<mat-expansion-panel id="studentPanel" (opened)="refreshListOfStudents()">
    <mat-expansion-panel-header>
        <mat-panel-title>Your Student Profiles</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Profiles:</mat-panel-title>
                <mat-panel-description>Profile Editor</mat-panel-description>
            </mat-expansion-panel-header> 

            <form [formGroup]="studentForm">
                <mat-form-field appearance="outline">
                    <mat-label>Student Nickname</mat-label>
                    <input matInput name="nickname" formControlName="nickname">
                </mat-form-field>
            </form>

            <h2>{{ message }}</h2>
        
            <mat-action-row>
                <button mat-raised-button color="primary" (click)="addStudent()">Add Student!</button>
                <button mat-button color="primary" (click)="delStudent()">Delete Student</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let student of getListOfStudent()" (opened)="this.loadStudent(student.nickname);this.refreshMapOfStudents()">
            <mat-expansion-panel-header>
            <mat-panel-title>{{ student.nickname }}</mat-panel-title>
            <!-- <mat-panel-description>{{ studentInfo.student.name_first + " " + studentInfo.student.name_last }}</mat-panel-description> -->
            </mat-expansion-panel-header> 

            <h1>Nice to meet you {{ student.nickname }}</h1>

            
            <mat-expansion-panel id="profile">
                <mat-expansion-panel-header>
                    <mat-panel-title>Student Info</mat-panel-title>
                    <mat-panel-description>School: {{ getProfileSchoolAttending(student) }}</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item>Full Name: {{ getProfileNameFirst(student) + " " + getProfileNameMiddle(student) + " " + getProfileNameLast(student) }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>School Attending: {{ getProfileSchoolAttending(student) }}</mat-list-item>
                </mat-list> 

                    <form [formGroup]="studentForm" id="profileEditor" *ngIf="this.getProfileEditMode()">
                         
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" name="name_first" formControlName="name_first">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput type="text" name="name_middle" formControlName="name_middle">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" name="name_last" formControlName="name_last">
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <mat-form-field appearance="outline">
                            <mat-label>School</mat-label>
                            <input matInput type="text" name="school_attending" formControlName="school_attending">
                        </mat-form-field>
        
                        <mat-action-row>
                            <button mat-button color="primary" (click)="this.toggleEditProfileMode()">Discard Changes</button>
                            <button mat-raised-button color="primary" (click)="this.sendUpdateStudentInfoRequest(student.nickname)">Save Changes</button>
                        </mat-action-row>
                    </form>

                    <h3>{{message}}</h3>

                <mat-action-row>
                    <button mat-raised-button color="primary" (click)="this.toggleEditProfileMode()">Edit</button>
                </mat-action-row>
            </mat-expansion-panel>
            

            <mat-expansion-panel id="gradebook" (opened)="this.loadStudent(student.nickname)">
                <mat-expansion-panel-header>
                    <mat-panel-title>Gradebook</mat-panel-title>
                    <mat-panel-description>GPA: {{ calculateGPA(student.nickname) }}</mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item>Credits Earned: {{ calculateCreditHrs(student.nickname) }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Gradepoints Earned: {{ calculateGradepoints(student.nickname) }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Overall GPA of {{ student.nickname + " is " + calculateGPA(student.nickname) }}</mat-list-item> 
                </mat-list> 

            </mat-expansion-panel> 

            <mat-accordion>
               
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Add Course!</mat-panel-title>
                    </mat-expansion-panel-header>

                    <form [formGroup]="courseForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Year Taken</mat-label>
                            <input matInput required type="number" name="year" formControlName="year">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Term Taken</mat-label>
                            <!-- <input name="term" formControlName="term"> -->
                            <mat-select matNativeControl required formControlName="term">
                                <mat-option *ngFor="let term of COURSE_TERMS" [value]="term">{{ term }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Course Title</mat-label>
                            <input matInput required name="title" formControlName="title">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Credit Hours Taken</mat-label>
                            <input matInput required type="number" name="creditHrs" formControlName="creditHrs">        
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gradepoint Earned (1-4)</mat-label>
                            <!-- <input matInput name="gradepoint" formControlName="gradepoint"> -->
                            <mat-select matNativeControl required formControlName="gradepoint">
                                <mat-option value="0.0">F: 0.0</mat-option>
                                <mat-option value="0.7">D-: 0.7</mat-option>
                                <mat-option value="1.0">D: 1.0</mat-option>
                                <mat-option value="1.3">D+: 1.3</mat-option>
                                <mat-option value="1.7">C-: 1.7</mat-option>
                                <mat-option value="2.0">C: 2.0</mat-option>
                                <mat-option value="2.3">C+: 2.3</mat-option>
                                <mat-option value="2.7">B-: 2.7</mat-option>
                                <mat-option value="3.0">B: 3.0</mat-option>
                                <mat-option value="3.3">B+: 3.3</mat-option>
                                <mat-option value="3.7">A-: 3.7</mat-option>
                                <mat-option value="4.0">A: 4.0</mat-option>
                                <mat-option value="4.0">A+: 4.0</mat-option>
                            </mat-select>
                        </mat-form-field>
                                      
                    </form>

                    <h3>{{ message }}</h3>

                    <mat-action-row>
                        <button mat-raised-button [disabled]="!courseForm.valid" color="primary" (click)="addCourse(student.nickname)">Add Course!</button>
                    </mat-action-row>      
                </mat-expansion-panel>

                <mat-expansion-panel *ngFor="let course of getListOfCourses()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ course.title + "  ///  " + course.term + " " + course.year }}</mat-panel-title>
                        <mat-panel-description>{{ getLetterGrade(course) }}</mat-panel-description>
                    </mat-expansion-panel-header> 

                    <mat-list>
                        <mat-list-item>Semester Taken: {{ course.term + " " + course.year }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Credit Earned: {{ course.creditHrs }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Gradepoints Earned: {{ course.creditHrs*course.gradepoint }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Letter Grade Earned: {{ getLetterGrade(course) }}</mat-list-item> 
                    </mat-list>





                    <mat-action-row>
                        <button mat-button color="primary" (click)="delCourse(student.nickname,course.id)">Delete Course</button>
                    </mat-action-row> 
                    
                </mat-expansion-panel>
            </mat-accordion>

        </mat-expansion-panel>
    </mat-accordion>
</mat-expansion-panel>
